
@{
    ViewData["Title"] = "Answers";
}
<div class="row">
    <a href="/quizanswer" style="margin:10px" class="btn btn-danger btn-icon-split col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">امتحان شروع نشده</span>  
    </a>
    <a href="/quizanswer" style="margin:10px" class="btn btn-danger btn-icon-split col-md-5 col-xs-12">
        <span class="icon text-white-50">
           <i class="fas fa-flag"></i>
        </span>
        <span class="text">امتحان شروع نشده</span>
    </a>


    <a href="/quizanswer" style="margin:10px" class="btn btn-warning btn-icon-triangle col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="text">امتحان درحال برگذاری</span>
    </a>

    <a href="/quizanswer" style="margin:10px" class="btn btn-warning btn-icon-triangle col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="text">امتحان درحال برگذاری</span>
    </a>


    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">امتحان به پایان رسیده است</span>
    </a>
    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">امتحان به پایان رسیده است</span>
    </a>
    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">امتحان به پایان رسیده است</span>
    </a>
    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">امتحان به پایان رسیده است</span>
    </a>
    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Split Button Primary</span>
    </a> 
    <a href="/quizanswer" style="margin:10px" class="btn btn-success btn-icon-check col-md-5 col-xs-12">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">امتحان به پایان رسیده است</span>
    </a>
</div>
