
@{
    ViewData["Title"] = "ErrorNotFound";
}
<div class="text-center" style="margin-right:400px">
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">صفحه پیدا نشد</p>
        <p class="text-gray-500 mb-0">چیزی که دنبالش میگشتید پیدا نشد</p>
        <a href="index.html">بازگشت به صفحه اصلی</a>
    </div>
</div>

