
@{
    ViewData["Title"] = "Exit";
}
<div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">

        <div class="card-body">
            <h4 class="card-title">الان خارج شدی مثلا که چی</h4>
            <p class="card-text">برو گریه کن و خوش باش</p>
        </div>
    </div>

</div>

