
@{
    ViewData["Title"] = "NewQuiz";
}


<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1 class="display-3 col-md-12">ساخت آزمون جدید</h1>
            <p class="lead">از طریق این دگمه برای ساخت آزمون جدید ورود پیدا کنید</p>
            <hr class="my-4">
            <p>با یام یام بهترین سوالات را طرح کنید برای مردم جهان</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">برای ساخت آزمون کلیک کنید</a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">آزمون ساز یام یام</h4>
                <p class="card-text">بهترین آزمون ساز در کره زمین که میتوانید پیدا کنید یام یام است</p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">آزمون ساز یام یام</h4>
                <p class="card-text">بهترین آزمون ساز در کره زمین که میتوانید پیدا کنید یام یام است</p>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">

            <div class="card-body">
                <h4 class="card-title">آزمون ساز یام یام</h4>
                <p class="card-text">بهترین آزمون ساز در کره زمین که میتوانید پیدا کنید یام یام است</p>
            </div>
        </div>
    </div>

</div>

